/*Bottom */
#logo {
	width: 15%;
}

.bottom {
	position: fixed;
    width: 100%;
    background: #e9e9ea;

}
#login {
	font-size: 18px;
	margin-right: 10px;
	margin-top: 10px;
	color: black;
}

#login:hover {
	color: #be0f18;
}

#password {
	-webkit-text-security: circle;
}
#password:hover {
	-webkit-text-security: none;
}
/*container */
#harta {
	background: white;
	width: 100%;
}

area:hover {
	background: red;
}

/*footer*/
.footer {
	margin-top: 30px;
}

/*Poll*/
#poll-list {
	background: black;
}

#pollsDiv {
	background: black;
	color: white;
}

/*other classes*/
.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.no-pad {
	padding-left: 0px !important;
	padding-right: 0px !important;
}