<!DOCTYPE html>
<html>
<head>
	<title>Add Poll</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>	
	<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
	<script type="text/javascript" src="/scripts/functionality.js"></script>
	<script type="text/javascript" src="/scripts/mapResize.js"></script>
	<script type="text/javascript">
                function Captcha(){
                     var alpha = new Array('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z');
                     var i;
                     for (i=0;i<6;i++){
                       var a = alpha[Math.floor(Math.random() * alpha.length)];
                       var b = alpha[Math.floor(Math.random() * alpha.length)];
                       var c = alpha[Math.floor(Math.random() * alpha.length)];
                       var d = alpha[Math.floor(Math.random() * alpha.length)];
                       var e = alpha[Math.floor(Math.random() * alpha.length)];
                       var f = alpha[Math.floor(Math.random() * alpha.length)];
                       var g = alpha[Math.floor(Math.random() * alpha.length)];
                      }
                    var code = a + ' ' + b + ' ' + ' ' + c + ' ' + d + ' ' + e + ' '+ f + ' ' + g;
                    document.getElementById("mainCaptcha").value = code;
                }
                function ValidCaptcha(){
                      var string1 = removeSpaces(document.getElementById('mainCaptcha').value);
                      var string2 = removeSpaces(document.getElementById('txtInput').value);
                      if (string1 == string2){
                        return true;
                      }
                      else{        
                        return false;
                      }
                }
                function removeSpaces(string){
                    return string.split(' ').join('');
                }
				function Hide1() {
					document.getElementById("field1").style.display = "block"; 
					document.getElementById("fileset0").style.display = "none";
					document.getElementById("field2").style.display = "block"; 
					document.getElementById("field3").style.display = "block"; 
					Captcha();
				}
    </script> 
	
</head>
<body>
	<link href='bootcss/bootstrap.min.css' rel='stylesheet' />
	<script src="bootjs/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script type="text/javascript" src="http://davidlynch.org/projects/maphilight/jquery.maphilight.js"></script>
	<div id="addPollDiv">
		<div class="bottom col-xs-12">
			<a href="/"><img class="pull-left" id="logo" src="/stylesheet/Imgs/logo.jpg"/></a>
		</div>
		<div class="container">
		<!-- Main Dropdown Menu -->
			<div class="dropdown" style="width: 3%;">
				<button class="btn btn-default no-pad" type="button" data-toggle="collapse" data-target="#menu1">
				    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
				</button>
				<ul class="dropdown-menu" id="menu1">
				    <li><a href="#myPopup" data-rel="popup">Autentificare</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="#">Votarile mele</a></li>
				    <li><a href="#">Adauga votare</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="#myPopup2" data-rel="popup">Creare cont</a></li>
				</ul>
			</div>	
		</div>

		<div id="pollFormWrappper" class="col-xs-offset-1 col-xs-10 col-xs-offset-1">
			<form id="pollForm">
				Titlu: <input type="text" id="pollTitle">
				
				Descriere: <textarea id="pollDesc" rows="5" cols="50"></textarea>
				
				Categorie: 
				<label>
					<input type="checkbox" id="firstCat" name="category" value="Drumuri">
					Drumuri
				</label>
				<input type="checkbox" id="secondCat" name="category" value="Scoli">
				<label for="secondCat">Scoli</label>
				
				Judet:
		  		<input type="checkbox" id="firstJud" name="judet" value="b">
				<label for="firstJud">Bucuresti</label>
		  		<input type="checkbox" id="secondJud" name="judet" value="ct">
				<label for="secondJud">Constanta</label>
				
				<button id="submitForm" type="submit" onclick="poll_info()">Adauga Poll</button>

					
			</form>
		</div>
		<div class="footer"></div>
		<!-- Login POPUP -->
	   	<div data-role="popup" id="myPopup" class="ui-content" data-overlay-theme="b" data-transition="pop" data-position-to="window"	>
    		<a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
      		<div id="load-login">
				<p>Introduceti datele de autentificare.</p>
				<form>
					<lable>Nume utilizator:</lable>
					<input type="text" name="username" id="username">
					<lable>Parola:</lable>
					<input type="text" name="password" id="password" style=""/>
				</form>
				<button type="submit" onclick="login_info()" class="btn" id="logare"><span>Autentificare</span></button>
			</div>
    	</div>

		<!-- Auth Menu-->
		<div data-role="popup" id="myPopup2" class="ui-content" data-overlay-theme="b" data-transition="pop" data-position-to="window"	>
    		<a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
      		<div id="load-login">
				<p>Introduceti datele de autentificare.</p>
				<form>
					<label>Nume: </label>
					<input type="text" name="nume">
					<br>Prenume :<input type="text" name="prenume"><br><br>
					<br>Email :<input type="text" name="email"><br><br>
					<br>Cod numeric personal :<input type="text" name="CNP"><br><br>
					<input type="Submit"  value="Submit">
				</form>
			</div>
		</div>
		<!-- Auth Menu-->
		<div data-role="popup" id="myPopup2" class="ui-content" data-overlay-theme="b" data-transition="pop" data-position-to="window">
    		<a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
      		<div id="load-auth">
				<form>
					<fieldset id="fileset0">
						<legend> Introduceti datele de autentificare. </legend>
							<label>Nume: </label>
							<input type="text" name="nume" onclick="Captcha();">
							<label>Prenume :</label>
							<input type="text" name="prenume">
							<label>Email :</label>
							<input type="text" name="email">
							<label>Cod numeric personal :</label>
							<input type="text" name="CNP">
							<input type="button" value="Continua" onClick="Hide1();">
							<input type="reset">
					</fieldset>
					<fieldset id="field1" data-role="controlgroup" data-type="horizontal" style="display:none">
						<legend>Alegeti tipul de utilizator:</legend>
							<label> <input type="checkbox" name="inlineButton" value="01">Admin </label>
							<label> <input type="checkbox" name="inlineButton" value="02">Moderator </label>
							<label> <input type="checkbox" name="inlineButton" value="03">Normal </label>
					</fieldset>
					<br/>
					<fieldset id="field2" data-role="controlgroup" data-type="horizontal" style="display:none">
					        <input type="button" id="mainCaptcha" onclick="Captcha();"/> Inserati in casuta textul din staga
							<input type="text" id="txtInput"/>    
					</fieldset>	
				    <br/>
					<fieldset id="field3" data-role="controlgroup" data-type="horizontal" style="display:none">
						<input type="Submit"  value="Submit" onclick="ValidCaptcha();">
						<input type="reset">
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
